
 @font-face {
      font-family: 'Dechorian';
      src: url('DechorianTipografia.otf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    :root{
--bs-font-sans-serif: 'Dechorian';
    }
    
body {
    margin: 0;
    font-family: 'Dechorian', !important;
    background-color: #dadcce;
    
}

header {
    background-color: #324c24;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dechorian', !important;
}

.logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #f9f9f7;
}

main {
    padding: 20px;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5cm;
}

.column{
    flex: 1;
   
    margin-right: 0.2cm;
   
   
    
}

.column img{
    border-radius: 30%;
}
.column1{
    flex: 1;
   
  
    
}
.columnatitulo{
    flex: 1;
    background-color: #6d7a63;
    border-style: solid;
    border-color: #a9b297;
    border-start-start-radius: 10%;
    border-end-end-radius: 10%;
    border-start-end-radius: 10%;
    border-end-start-radius: 10%;
   
    
}
.columnatext{
    flex: 1;
    background-image: url('../images/fondoAcercade.jpeg');
    
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color:#f9f9f7;
   
    
}
.carousel-item img {
      max-height: 400px;        /* Limita la altura */
      width: auto;              /* Mantiene proporción */
      margin: 0 auto;           /* Centra horizontalmente */
      object-fit: cover;        /* Opcional: recorta si es necesario */
    }
.titulo{
    margin-top: 1cm;
     font-family: 'Dechorian';
    text-align: center;
    
}
.acerca{
    text-align: center;
}
.texto{
  font-family: 'Dechorian', !important;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    background-color:#a7b294;
    color: #f9f9f7;
    text-align: center;
    padding: 20px;
    font-family: 'Dechorian', serif !important;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons img {
    width: 30px;
    margin-left: 10px;
}
 @media (max-width: 768px) {
      .contenedor {
        flex-direction: column;
      }
    }
    
