body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f9f9f7;
    
}

header {
    background-color: #435739;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #f9f9f7;
}

main {
    padding: 20px;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-6{
    background-color: #6d7a63;
    
}
.titulo{
    text-align: center;
}
.texto{
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}
footer {
    background-color: #a9b297;
    color: #f9f9f7;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons img {
    width: 30px;
    margin-left: 10px;
}
